html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.login {
  background: linear-gradient(
    135deg,
    #33eeff,
    #31c2ff,
    #3095ff,
    #2e67ff,
    #2c38ff,
    #4d2bff,
    #7929ff,
    #a728ff,
    #d526ff,
    #ff24fb,
    #ff23cb,
    #ff219b
  );
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  margin: 0;
  padding: 0;
  /* background: rgb(252, 164, 164); */

  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-container {
  height: 100%;
}

nav {
  background: linear-gradient(
    135deg,
    #33eeff,
    #31c2ff,
    #3095ff,
    #2e67ff,
    #2c38ff,
    #4d2bff,
    #7929ff,
    #a728ff,
    #d526ff,
    #ff24fb,
    #ff23cb,
    #ff219b
  );
  margin: 0;
  padding: 1%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.user-icon {
  height: 100%;
  width: 10%;
}

.nav-link {
  color: rgb(255, 255, 255);
  margin-right: 15%;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(0, 255, 42);
}

.nav-left {
  color: rgb(255, 255, 255);
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  padding: 1%;
}

.nav-right {
  color: rgb(255, 255, 255);
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
.nav-image {
  height: 10%;
  width: 10%;
}
.login-container {
  margin: 0 auto;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vw;
}
.inputHeader {
  margin: 6%;
  color: #fff;
}
.login-button-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-button {
  margin: 10px;
  margin-top: 20px;
  width: 40%;
  background-color: #06c5ff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login-button:hover {
  background-color: #487beb;
  color: white;
  cursor: pointer;
}

.signup-button {
  margin: 10px;
  margin-top: 20px;
  width: 40%;
  background-color: #4dd158;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.signup-button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.group-container,
.topics-container {
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 50vh;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;
}

.card-container {
  width: 20%;
  height: 40%;
  background: rgb(17, 219, 255);
  border: 1px solid rgb(253, 174, 174);
  text-align: center;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.card-container:hover {
  background: rgb(150, 229, 255);
  border: 1px solid rgb(253, 174, 174);
  cursor: pointer;
  transition: all 0.5s;
}

.card-content {
  text-transform: capitalize;
}

.thread-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
}
.thread-topic {
  margin-left: 2%;
}
.thread-list {
  width: 100%;
  box-sizing: border-box;
}
.thread {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 2%;
  margin-top: 1%;
  width: 96%;
  height: auto;
  border: 1px solid rgb(117, 95, 95);
}

.thread:hover {
  background: rgb(179, 179, 179);
}

.thread-top,
.thread-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96%;
  padding: 0px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  justify-content: space-between;
}

.thread-top > h2,
h4,
.thread-bottom > h4 {
  margin: 0;
}
